In [ ]:
import requests
import pandas as pd
import sys
sys.path.append('../')
from utils.general_utils import get_data

In [4]:
league_id = 734713
bootstrap_static_data = get_data("https://fantasy.premierleague.com/api/bootstrap-static/")
fixture_data = get_data("https://fantasy.premierleague.com/api/fixtures/")
league_standings_data = get_data(f"https://fantasy.premierleague.com/api/leagues-classic/{league_id}/standings/")
h2h_data = get_data(f"https://fantasy.premierleague.com/api/leagues-h2h/{league_id}/standings/")

In [6]:
player_url_base = "https://fantasy.premierleague.com/api/element-summary/" # Followed by player ID
manager_url_base = "https://fantasy.premierleague.com/api/entry/" # Followed by manager ID and /history/, /transfers/, /wildcards/, /chips/, /event/{GW}/picks/

In [7]:
manager_ids = {league_standings_data["standings"]["results"][i]["player_name"].split(" ")[0]: league_standings_data["standings"]["results"][i]["entry"] for i in range(len(league_standings_data["standings"]["results"]))}
manager_ids

{'Harry': 6243171,
 'Zak': 6014453,
 'Oliver': 3551286,
 'Kishan': 4609042,
 'Louis': 5276388,
 'Fraser': 9351391,
 'Joseph': 3553959,
 'Sebastian': 2596541,
 'Callum': 1689643,
 'Matt': 5259181,
 'Joshua': 5326596,
 'Benjamin': 3553498}

In [12]:
GW_total_dict = {manager: [item["total_points"] for item in get_data(f"https://fantasy.premierleague.com/api/entry/{manager_ids[manager]}/history/")["current"]] for manager in manager_ids.keys()}
for key in GW_total_dict.keys():
    while len(GW_total_dict[key]) < max([len(GW_total_dict[key]) for key in GW_total_dict.keys()]):
        GW_total_dict[key].insert(0, 0)
GW_total_df = pd.DataFrame(GW_total_dict)
GW_total_df.index = [i for i in range(1, len(manager_ids))]
GW_total_df

,Harry,Zak,Oliver,Kishan,Louis,Fraser,Joseph,Sebastian,Callum,Matt,Joshua,Benjamin
1,84,62,66,60,47,0,52,62,39,43,44,41
2,177,136,132,135,128,90,126,135,107,110,105,109
3,260,196,216,209,210,162,182,210,150,166,140,145
4,314,240,246,249,260,215,228,258,203,204,184,184
5,370,301,306,320,321,272,303,334,267,280,266,243
6,435,384,384,373,396,321,354,381,330,339,310,289
7,492,458,431,434,435,363,386,429,392,370,351,335
8,525,501,477,466,464,400,430,453,420,391,384,378
9,600,571,533,527,513,454,501,479,470,432,454,436
10,632,604,577,563,554,512,546,518,504,490,487,468
11,684,649,633,618,600,571,569,555,554,532,530,521